@page
@model Foliofy.Pages.profileModel
@using Foliofy.Models;

@section Styles {
	<link rel="stylesheet" href="~/profile/profile.css" />
}

<section class="user-data">
	<div class="container">
		<div class="user-preview">
			<div class="user-intro">
				<div class="icon-wrapper">
					<img class="user-icon" src=@(Model.CurrentUser.IconPath != "" ? Model.CurrentUser.IconPath : Url.Content("~/assets/images/icons/profile-icon.svg")) />
				</div>
				<div class="user-context">
					<p class="user-username">@Model.CurrentUser.Username</p>
					<div class="user-stat">
						<div class="stat-info">
							<span>0</span>
							<span>Posts</span>
						</div>
						<div class="stat-info">
							<span>@Model.CurrentUser.Followers.Count</span>
							<span>Followers</span>
						</div>
						<div class="stat-info">
							<span>0</span>
							<span>Views</span>
						</div>
						<div class="stat-info">
							<span>0</span>
							<span>Likes</span>
						</div>
						<div class="stat-info">
							<span>@Model.CurrentUser.Followings.Count</span>
							<span>Followings</span>
						</div>
					</div>
				</div>
			</div>

			<div class="profile-buttons">
				<a asp-page="EditProfile" class="edit-profile">Edit Profile</a>
				<button class="remove-account">Remove Account</button>
			</div>
			
			@if(Model.CurrentUser.Tags.Count > 0)
			{
				<div class="user-tags">
					@foreach (UserTag tag in Model.CurrentUser.Tags.Where(tag => tag.Category == TagCategory.CreativeType))
					{
						<span class="tag creative">@tag.TagName</span>
					}
					@foreach (UserTag tag in Model.CurrentUser.Tags.Where(tag => tag.Category != TagCategory.CreativeType))
					{
						<span class="tag">@tag.TagName</span>
					}
				</div>
			}
		</div>
		<div class="user-about">
			<h3 class="user__about-title">About Me:</h3>
			<div class="user-description">@Model.CurrentUser.UserDescription</div>
		</div>
	</div>
</section>

<section class="user-projects">
	<div class="container">
		<h3>My Projects</h3>
		<div class="project-stat">
			<div class="projects-filter">
				<div class="filter-field select">
					<div class="project-type">
						<div class="selected">
							<span class="selected-value">Filter your projects...</span>
							<img class="triangle-img" src="~/assets/images/icons/register/triangle.svg" alt="triangle">
						</div>
						<ul class="select-options">
							<li class="filter-option">
								<div class="img-wrapper">
									<img src="~/assets/images/icons/projects/public.svg" alt="public icon" class="option-img">
								</div>
								<span>Public</span>
							</li>
							<li class="filter-option">
								<div class="img-wrapper">
									<img src="~/assets/images/icons/projects/private.svg" alt="private icon" class="option-img">
								</div>
								<span>Private</span>
							</li>
							<li class="filter-option">
								<div class="img-wrapper">
									<img src="~/assets/images/icons/projects/all.svg" alt="all icon" class="option-img">
								</div>
								<span>All</span>
							</li>
						</ul>
					</div>
					<input type="hidden" name="projectsFilter" id="projectsFilter">
				</div>
			</div>
			<div class="project-info-part">
				<img src="~/assets/images/img/projects/project-intro-illustration.png" class="project-illustration" />
				<div class="general-info">
					<span>Total Projects: </span>
					<span>Public Projects: </span>
					<span>Private Projects: </span>
					<span>Total likes: </span>
					<a class="create-project" asp-page="project">New Project</a>
				</div>
			</div>
		</div>
		<div class="user-projects"></div>
	</div>
</section>

@section Scripts {
	<script src="~/profile/js/selectOption.js"></script>
}