@page "{id?}"
@model Foliofy.Pages.profile.ProjectModel
@using Foliofy.Models;

@section Styles {
    <link rel="stylesheet" href="~/project/project.css" />
}

<section class="project-creation">
    <div class="container">
        <h2><span class="title-word-wrapper">Share</span> your project!</h2>
        <form class="project-form" novalidate>
            @Html.AntiForgeryToken()
            <div class="field">
                <label for="project-name">Project Name</label>
                <input type="text" id="project-name" placeholder="Enter project name..." value="@(Model.CurrentProject == null ? "" : Model.CurrentProject.ProjectName)"  />
            </div>
            <div class="field">
                <label for="project-description">Description</label>
                <input type="text" id="project-description" placeholder="Enter some description..." value = "@(Model.CurrentProject == null ? "" : Model.CurrentProject.ProjectDescription)" />
            </div>
            <div class="field files">
                <div class="uploaded-files">
                    <span class="upload-title">Upload Files</span>
                    <button class="upload-file" type="button">Upload File</button>
                    <div class="uploaded-files-container">
                        @if (Model.CurrentProject != null)
                        {
                            <div class="files">
                                @foreach (var file in Model.CurrentProject.Files)
                                {
                                    <div class="file-content">
                                        <div class="file-entry">
                                            <img src="~/assets/images/icons/file-icon.svg">
                                            <a href="@file.Path" target="_blank">@System.IO.Path.GetFileName(file.Path)</a>
                                        </div>
                                        <button type="button" class="remove-file" type="button">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <input type="file" id="uploadedFiles" hidden multiple />
                    <input type="hidden" name="existingFileNames" id="existingFileNames" />
                </div>
                <div class="cover-image">
                    <span class="upload-title">Cover Image</span>
                    <div class="upload-image-wrapper">
                        <img src="@(Model.CurrentProject == null ? Url.Content("~/assets/images/icons/upload.svg") : Model.CurrentProject.CoverImage)" class="uploaded-image" alt="upload icon" />
                        <div class="upload-action">
                            <span class="action-text">Click to open</span>
                            <button class="upload-file" id="upload-cover" type="button">Choose File</button>
                            <input type="file" id="uploadedCover" accept=".jpg,.jpeg,.svg,image/jpeg,image/svg+xml" hidden />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field profile-tags">
                <h4>Tags</h4>
                <div class="tags-container field">
                    @if(Model.CurrentProject != null)
                    {
                        @foreach (var tag in Model.CurrentProject.Tags)
                        {
                            <div class="tag-wrapper">
                                <span class="custom-checkbox"><img src="/assets/images/icons/register/daw.svg" /></span>
                                <span class="tag">@tag.TagName</span>
                            </div>
                        }
                    }
                </div>
                <button class="remove-tag" type="button">
                    Remove selected
                    <img src="~/assets/images/icons/edit/remove-icon.svg" />
                </button>
                <div class="custom-tag">
                    <label for="tagName">Tag Name</label>
                    <div class="tag-input field">
                        <input type="text" name="tagName" id="tagName" placeholder="Enter tag name..." />
                        <button class="add-button" id="add-custom-tag" type="button">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="field access">
                <span>Status</span>
                @if (Model.CurrentProject == null)
                {
                    <div class="access-types">
                        <div class="status active">
                            <span class="radio"></span>
                            <span>Public</span>
                        </div>
                        <div class="status">
                            <span class="radio"></span>
                            <span>Private</span>
                        </div>
                        <input type="hidden" id="status" />
                    </div>
                }
                else
                {
                    <div class="access-types">
                        <div class="@(Model.CurrentProject.Status == ProjectAccess.Public ? "status active" : "status")" >
                            <span class="radio"></span>
                            <span>Public</span>
                        </div>
                        <div class="@(Model.CurrentProject.Status == ProjectAccess.Private ? "status active" : "status")" >
                            <span class="radio"></span>
                            <span>Private</span>
                        </div>
                        <input type="hidden" id="status" />
                    </div>
                }
            </div>

            <div class="project-buttons">
                <button type="submit" class="@(Model.CurrentProject == null ? "save-project" : "update-project")">
                    <img src="~/assets/images/icons/edit/save-icon.svg" />
                    Save
                </button>
                <a asp-page="./profile" class="cancel">Cancel</a>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <script>
        window.tags = [];
        window.selectedFiles = [];
        window.IsUploadedCover = @(Model.CurrentProject != null ? "true" : "false");
        window.fetchLink = "@(Model.CurrentProject == null ? "?handler=CreateProject" : $"?handler=UpdateProject&id={Model.CurrentProject.Id}")";

        @if (Model.CurrentProject != null)
        {
            @foreach(var tag in Model.CurrentProject.Tags)
            {
                <text>tags.push("@tag.TagName");</text>
            }
            @foreach(var file in Model.CurrentProject.Files)
            {
                <text>selectedFiles.push({ 
                    name: "@System.IO.Path.GetFileName(file.Path)", 
                    path: "@file.Path"
                });</text>
            }
        }
    </script>
    <script src="~/project/js/radioButton.js"></script>
    <script src="~/project/js/tags.js"></script>
    <script src="~/project/js/uploadCoverImage.js"></script>
    <script src="~/project/js/uploadFiles.js"></script>
    <script src="~/project/js/CreateProjectSubmit.js"></script>
}

